<div>
    <!--Form login-->
   
    <form action="/api/product/add" method="POST"> <!--hamnar i query. why i dont know. vad händer med submit-->
    Produkt:<br>
    <input type="text" name="product" id="product" value=""><br>
    Price:<br>
    <input type="text" name="price" id="price" value=""><br>
    Amount:<br>
    <input type="text" name="amount" id="amount" value=""><br>
    Description:<br>
    <textarea type="text" name="description" id="description" value=""> </textarea><br>
    <input type="submit" value="submit" />
    <br>
    </form> 

    
    <div id="orderbox-container">
        <!-- Orders are automaticly displayed here -->
    </div>
</div>
