<div>


    <div id="createProductSuccess" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-green">
                <span onclick="document.getElementById('createProductSuccess').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2>Product created sucessfully</h2>
            </header>
        </div>
    </div>
    <div id="createProductFailed" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-red">
                <span onclick="document.getElementById('createProductFailed').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2>Product failed to create</h2>
            </header>
        </div>
    </div>

    <div class="w3-container w3-border-bottom w3-cell-row">
        <div class="w3-container w3-third w3-cell">
            <h3> Add Product </h3>
            <div>
                <form id="createNewProductForm" action="/api/product/add" method="POST" onsubmit="event.preventDefault(); createNewProduct();">
                    Produkt:<br>
                    <input type="text" name="product" id="product" value=""><br>
                    Price:<br>
                    <input type="number" name="price" id="price" value=""><br>
                    Amount:<br>
                    <input type="number" name="amount" id="amount" value=""><br>
                    Category:<br>
                    <input type="text" name="category" id="category" value=""><br>
                    Description:<br>
                    <textarea type="text" name="description" id="description" value=""> </textarea><br>
                    <input type="submit" value="submit" />
                    <br>
                </form>
            </div>
        </div>
        <div class="w3-container w3-twothird w3-border-left w3-cell">
            <h3> Removed products </h3>
            <div class="w3-container">
                <button onclick="getRemovedProducts()"> Get removed products </button>
                <p class="w3-right">Restore</p>
            </div>
            <div id="removedProductsWindow" class="w3-container">
                <ul id="removedProductsContainer" class="w3-ul w3-hoverable">
                </ul>
            </div>
        </div>
    </div>

    <div class="w3-container adminOrderWindow">
        <div id="orderbox-container">
            <!-- Orders are automaticly displayed here -->
        </div>
    </div>
</div>