<div class="banner"></div>
<div class="banner sticky" id="banner">
<h1>Knick Knacks</h1>
<!-- Logout button
<form action="/api/user/logout" method="GET"> 
  <input type="submit" value="logout" />
  </form>
  -->


<div class="login">
<footer></footer>
  <div class="pane">
    <div class="w3-container">
      <div>
        <label class="">Username:</label>
        <input class = "w3-input" type="text" id="loginusername" required maxlength="150">
      </div>
      <div>
        <label >Password:</label>
        <input class = "w3-input" type="password" id="loginpassword" required>
      </div>
      <button id="loginbutton">Login</button><br>
    </div>
  </div>
</div>


<div id="accountPanel">
    <input type="image" src="/images/shoppingcart.png"  id="cartButton"/>
    <input type="image" src="/images/def_userimg.png" id="accountButton"/>
</div>

<div id="tabPanel">
  <div id="tabButtonPanel">
    <button onclick="openPage('Home', this)" class="tablink" id="defaultOpen"> HOME </button>
    <button onclick="openPage('User', this)" class="tablink"> USER </button>
    <button onclick="openPage('Admin', this)" class="tablink"> ADMIN </button>
  </div>
</div>

</div>