<div class="banner" id="banner">
<h1>Knick Knacks</h1>
<!-- Logout button
<form action="/api/user/logout" method="GET"> 
  <input type="submit" value="logout" />
  </form>
  -->


<div class="login">
<footer></footer>
  <div class="pane">
    <form class="w3-container" method="post" action="/api/user/login/">
      <div>
        <label class="">Username:</label>
        <input class = "w3-input" type="text" name="name" required maxlength="150">
      </div>
      <div>
        <label >Password:</label>
        <input class = "w3-input" type="password" name="password" required>
      </div>
      <button type="submit" value="Login">Login</button><br>
    </form>
  </div>
</div>


<div id="accountPanel">
    <input type="image" src="/images/shoppingcart.png" class="accountButton" id="cartButton"/>
    <input type="image" src="/images/def_userimg.png" class="accountButton" id="accountButton"/>
</div>

</div>