<div class="banner"></div>
<div id="dimmer" class="w3-animate-opacity"></div>
<div class="banner sticky" id="banner">
<h1 class="w3-jumbo w3-hide-small">Knick Knacks</h1>
<h1 class="w3-hide-large w3-hide-medium">Knick Knacks</h1>
<!-- Logout button
<form action="/api/user/logout" method="GET"> 
  <input type="submit" value="logout" />
  </form>
  -->


<form id="loginWindow" class="pane" action="/api/user/login" method="post" onsubmit=" event.preventDefault(); loginUser();">
    <div class="w3-container">
      <% if (autheticated) { %>
        <div>
          <h2>Hello <%= Username %></h2>
        </div>
          <button id="logoutbutton">Logout</button><br>
      <% } else {%>
      <div>
        <label class="">Username:</label>
        <input class = "w3-input" name="username" type="text" id="loginusername" required maxlength="150">
      </div>
      <div>
        <label >Password:</label>
        <input class = "w3-input" name="password" type="password" id="loginpassword" required>
      </div>
        <button id="loginbutton">Login</button>
        <button id="registerbutton">Register</button><br>
      <% }%>
    </div>
</form>


<div id="accountPanel">
  <input type="image" src="/images/def_userimg.png" id="accountButton"/>
</div>



<div id="tabPanel">
  <div id="tabButtonPanel">
    <button onclick="openPage('Home', this)" class="tablink" id="defaultOpen"> HOME </button>

    <% if (autheticated) { %>
      <button onclick="openPage('Shopping', this)" class="tablink"> Shoppingbasket </button>
    <% } %>

    <% if (admin) { %>
      <button onclick="openPage('Admin', this)" class="tablink"> ADMIN </button>
    <% } %>
  </div>
</div>

</div>