

<div class="w3-display-container">
    <div class="w3-container">

      <div class="w3-quarter w3-mobile">
        <h1>
          Welcome <%= Username %>
        </h1>
        <p>
          to our humble webshop.
        </p>
      </div>

      <div class="w3-rest w3-mobile">
        <input type="text" id="inputname" class="w3-input">
      </div>

    </div>
  </div>
  
  <div id="productbox-container" class="flex-container">

    <!--   PRODUCTS ARE ADDED AUTOMATICALLY HERE    -->

  </div>