<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
</head>

<body>

  <div class="banner" id="banner">
    <h1>Knick Knacks</h1>
  </div>

  <div class="content">
    <div>
      <h1>
        <%= title %>
      </h1>
      <p>Welcome brbr to
        <%= title %>
      </p>
    </div>


    <div class="container">
      <% for(var i = 1; i<30; i++) { %>

      <div class="box">
        <div>
          <p>Product information
            <%= i %>
          </p>
          <div>
            <div>
              <button type="button">View</button>
              <button type="button">Edit</button>
            </div>
            <small>9 mins</small>
          </div>
        </div>
      </div>

      <% } %>
    </div>
  </div>

  <script src="/javascripts/script.js"></script>

</body>

</html>