<!DOCTYPE html>
<html>

<head>
  <title>
    Webshop
  </title>
  <link rel='stylesheet' href='/stylesheets/w3.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <%- include('header'); %>

  <div id="Home" class="tabcontent">
  <%- include('home'); %>
  </div>

  <% if (autheticated) { %>
  <div id="Shopping" class="tabcontent">
    <%- include('shoppingbasket'); %>
  </div>
  <%} %>
  
  <% if (admin) { %>
  <div id="Admin" class="tabcontent">
      <%- include('adminPanel'); %>
  </div>
  <%} %>

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/main.js"></script>

</body>

</html>