<script src="/javascripts/librarys/jquery-3.3.1.min.js"></script>
<script src="/javascripts/librarys/jquery.jeditable.min.js"></script>
<script src="/javascripts/librarys/jquery.rateit.min.js"></script>

<script src="/javascripts/main.js"></script>
<script src="/javascripts/reviews.js"></script>
<script src="/javascripts/orderHandler.js"></script>
<script src="/javascripts/windows.js"></script>
<script src="/javascripts/shoppingbasket.js"></script>

<% if (admin) { %>
  <script src="/javascripts/adminscripts.js"></script>
<% } %>



<script >
    // Anonymous function to handle adding a product box
var productwindow = (id, name, description, price, inventory, image_path) => {




var baseText = `
<div id="productWindow" class="pane">
  <div>
    <h2 id="itemName">${name}</h2>
    <div>
    <div id="productImage">
      <img src=${image_path} style="height: 200px;">
    </div>
      <div>
        <p id="itemDescription">${description}</p>
      </div>
      <p id="itemPrice">${price} kr</p>
    <div class="rateit"> </div>
    </div>
    <div>
      <p id="itemInventory">${inventory} st</p>
      <button onclick="addProductToBasket('${price}','1','${id}')"> Buy </button>
      ` +
          <% if (admin) { %>
            `<button onclick="deleteProduct('${id}')"> remove </button> ` +
          <% } %>
        `
    </div>
    <div>
      <h3>Reviews</h3>
      <form action='/api/product/addReviewToItem' method="POST" onsubmit=" event.preventDefault(); addReviewToItem(${id});">
        <input type="hidden" name="product_id" value="${id}" >
        <input type="text" id="comment">
        <input type="submit" value="Submit">
      </form>
    </div>

    <div id="productWindowReviews">
    </div>
  </div>
</div> `

return baseText;
};
</script>
