<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/reviews.js"></script>
<script src="/javascripts/orderHandler.js"></script>
<script src="/javascripts/jquery.rateit.min.js"></script>
<script src="/javascripts/windows.js"></script>

<script >
    // Anonymous function to handle adding a product box
var productwindow = (id, name, description, price, inventory) => {




var baseText = `
<div id="productWindow" class="pane">
  <div>
    <h2>${name}</h2>
    <div>
      <div>
        <p>${description}</p>
      </div>
      <p>${price} kr</p>
    <div class="rateit"> </div>
    </div>
    <div>
      <p>${inventory} st</p>
      <button onclick="addProductToBasket('${price}','1','${id}')"> Buy </button> 
      ` +
          <% if (admin) { %>
            `<button onclick="deleteProduct('${id}')"> remove </button> ` +
          <% } %>
        `
    </div>
  </div>
</div> `

return baseText;
};
</script>
