
<div class="w3-container w3-border-bottom">
<button id="placeOrderButton" onclick="placeOrder()"> Place Order </button>
  <div id="shoppingbasketbox-container" class="flex-container">

    <!--   SHOPPING BASKET ARE ADDED AUTOMATICALLY HERE    -->

  </div>
  <h2 id="shoppingbasketSum" class="w3-right">Totalt:</h2>
</div>

<div class="w3-container flex-container" id="userOrderBox"> 
</div>