

<div class="w3-display-container">
<div class="w3-container">
  <div>
    <h1>
      Welcome <%= Username %>
    </h1>
    <p>
      to our humble webshop.
    </p>
  </div>

  <div class="w3-twothird w3-display-topmiddle">
    <input type="text" id="inputname" class="w3-input">
  </div>
</div>
</div>

<div id="productbox-container">

<!--   PRODUCTS ARE ADDED AUTOMATICALLY HERE    -->

</div>