body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 14px;
  margin: 0px;
  background: #e1e4e8;
  height: 100vh;
}

a {
  color: #00B7FF;
}

h1 {
  margin: 0px;
}

.pane {
  position: absolute;
  margin: auto;
  background: #f0f0fd;
}

/* -------------------------------------*/
/* -------------- BANNER  --------------*/
/* -------------------------------------*/

.sticky + .content {
  padding-top: 14vh;
}

.banner {
  background-color: #1D2C40;
  color: white;
  border: 0px;
  margin: 0px 0px 10px 0px;
  width: 100vw;
  height: 14vh;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

#accountPanel  {
  position: absolute;
  top: 1vh; right: 1vw;
}

#accountPanel input {
  height: 50px;
  border-radius: 50%;
  background:rgb(236, 236, 236);
}

#tabPanel  {
  position: absolute;
  bottom: 0vh; left: 0vw;
  width: 100vw;
  height: 3vh;
}


#tabButtonPanel {
  position: absolute;
  left: 1vw;
  width: 98vw;
  bottom: 0;
}


#loginWindow  {
  top: 10vh; right: 0;
  width: 300px;
  height: 250px;
  z-index: 3;
  padding: 22px 32px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
  -box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
  background-color: #5783BF;

}

#loginbutton {
  display:inline;
}

#registerbutton {
  display:inline;
}


/* -------------------------------------*/
/* --------------- TABS  ---------------*/
/* -------------------------------------*/


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  padding: 0px;
}

.tabhidden{
  /* animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards; */
  display: none;
}

.tabvisible{
  /* animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards; */
  display: block;

}


/* Add Animation */
.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.tablink {
  background-color: #3A577F;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: 33%;
  height: 4vh;
  border-radius: 7px 7px 0px 0px;
}

.tablink:hover {
  background-color: #689DE5;
}


/* -------------------------------------*/
/* ------------- Products  -------------*/
/* -------------------------------------*/



#dimmer{
  z-index: 3;
  background: rgba(0,0,0,0.8);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
}

#inputname {
  height:6vh;
  font-size:20pt;
}

.shoppingbasketbox-container {
  width: 80vw;
  margin: 4vh 10vw 0vw 10vw;
}

#productbox-container {
  width: 80vw;
  margin: 4vh 10vw 0vw 10vw;
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
}

#productWindow {
  position: fixed;
  z-index: 4;
  width: 60vw;
  height: 60vh;
  border: 0.1em solid #6a737d;
  border-radius: 1em;
  background-color: #FFFFFF;
  color: black;

}

.innerbox {
  min-width: 13em;
  max-width: 20em;
  height: 13em;
  margin: 2vw;
  padding: 0.5em;
  padding-top: 0em;
  border: 0.1em solid #6a737d;
  border-radius: 1em;
  background-color: #FFFFFF;
  color:black;
}


.productbox{
  margin: 0px;  
  padding: auto;

}

.productbox p {
  width: 13em;
  margin: 0px;
  clear:both;
  text-align: center;
}

.productbox h4 {
  margin: 0px;
}

.productbox h3 {
  text-align: center;
  border-bottom: 0.1em solid white;
  margin: 0px;

}

.productdescription {
  overflow: hidden;
  height: 40%;
  padding-top: 2px;
}

.productdescription p{
  text-align: left;
}

/* -------------------------------------*/
/* ------------ Admin Panel  -----------*/
/* -------------------------------------*/

.adminOrderWindow {
  border: 0.1em solid #6a737d;
}

.adminAddProductWindow {
  border: 0.1em solid #6a737d;
}

#removedProductsWindow {
  height: 400px;
}