body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  background:rgb(236, 236, 236);
  height: 100vh;
}

a {
  color: #00B7FF;
}

h1 {
  margin: 0px;
}

.pane {
  position: absolute;
  margin: auto;
  background: #f0f0fd;
}

/* -------------------------------------*/
/* -------------- BANNER  --------------*/
/* -------------------------------------*/

.sticky + .content {
  padding-top: 14vh;
}

.banner {
  background-color: darkgray;
  border: 0px;
  margin: 0px 0px 10px 0px;
  width: 100vw;
  height: 14vh;  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#accountPanel  {
  position: absolute;
  top: 1vh; right: 1vw;
}

#accountPanel input {
  height: 50px;
  border-radius: 50%;
  background:rgb(236, 236, 236);
}

#tabPanel  {
  position: absolute;
  bottom: 0vh; left: 0vw;
  width: 100vw;
  height: 3vh;
}


#tabButtonPanel {
  position: absolute;
  left: 1vw;
  bottom: 0;
}


.loginWindow  {
  top: 10vh; right: 0;
  width: 300px;
  height: 250px;
  z-index: 3;
  padding: 22px 32px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
  -box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
}

#loginbutton {
  display:inline;
}

#registerbutton {
  display:inline;
}


/* -------------------------------------*/
/* --------------- TABS  ---------------*/
/* -------------------------------------*/


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 0px;
}

.tablink {
  background-color: darkgray;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: 25vw;
  height: 4vh;
  border-radius: 7px 7px 0px 0px;
}

.tablink:hover {
  background-color: #777;
}


/* -------------------------------------*/
/* ------------- Products  -------------*/
/* -------------------------------------*/

#productWindow {
  z-index: 4;
  width: 60vw;
  height: 60vh;
}

#inputname {
  height:6vh;
  font-size:20pt;
}

.productbox-container {
width: 80vw;
margin: 4vh 10vw 0vw 10vw;
}

.box {
float: left;
min-width: 13em;
max-width: 20em;
height: 13em;
margin: 2%;
padding: 0.8em;
border: 0.1em solid black;
border-radius: 1em;

}

.box p {
width: 13em;
}

.box h2 {
text-align: center;
border-bottom: 0.1em solid black;
}